@import url(https://fonts.googleapis.com/css?family=Open+Sans);
    #color-input {
        display: none;
    }
    #color-block{
        border-radius: 6px;
    }
    #color-label {
        margin-left: 15px;
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 6px;
    } 
    #color-input:checked ~ #color-picker {
        opacity: 1;
    }
    #color-picker {
        position: absolute;
        left: 70px;
        background-color: white;
        height: 150px;
        width: 175px;
        opacity: 1;
        border-radius: 6px;
    }
    canvas:hover {
        cursor: crosshair;
    }